{% extends "base.html" %} {% block body %}

<div class="login-container">
    <img src="{{url_for('static', filename='logo.png') }}" style="margin-left: auto; margin-right: auto;width: 100%;"/>
    <a href="{{url_for('post')}}" class="btn btn-primary btn-lg btn-block btn-logo">Post</a>
    <a href="{{url_for('search')}}" class="btn btn-primary btn-lg btn-block btn-logo">Search</a>
    <a href="{{url_for('inbox')}}" class="btn btn-primary btn-lg btn-block btn-logo">Inbox</a>
</div>
{% endblock %}