{% extends "login-base.html" %} {% block content %}

    <div class="request-body">
        <form method="POST">


            <div class="result">
                <h3 class="sub-header">Your requests</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>course name</th>
                            <th>type</th>
                            <th>day</th>
                            <th>time</th>
                            <th>duration</th>
                            <th>choice</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for course in course %}
                            <tr>
                                <td>{{ course.course_name}}</td>
                                <td>{{ course.type}}</td>
                                <td>{{ course.day}}</td>
                                <td>{{ course.start_time}}:00</td>
                                <td>{{ course.duration}}hour</td>
                                <td ><input type="checkbox"  id="id_{{course.id}}" name = "course_id" value={{course.id}}></td>
                                {#                            gonna pass a list called requesting back#}
                                <label for="id_{{course.id}}"> </label>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" name="requesting">Comfirm swap</button>
                    {% if swap %}
                        {% for courses in Course %}
                            <p style="margin: 30px 70px; color: limegreen">You have successfully changed {{ courses.course_name}} from {{ courses.start_time}}:00</p>
                        {% endfor %}
                    {% endif %}
                </div>
        </form>
    </div>
    </div>
{% endblock %}