<html>        
    <head>
        <script src="https://www.gstatic.com/firebasejs/5.3.1/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBc9eGLDXVDHI5Dx1_wcTrRQskzrP3wcn0",
    authDomain: "hardboiledones-c1c53.firebaseapp.com",
    databaseURL: "https://hardboiledones-c1c53.firebaseio.com",
    projectId: "hardboiledones-c1c53",
    storageBucket: "hardboiledones-c1c53.appspot.com",
    messagingSenderId: "177928000615"
  };
  firebase.initializeApp(config);
</script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
        <link rel = "stylesheet" href = "style.css"/>
        <title> Blah </title>
    </head>

  <body>

    {% block body %}
    {% endblock %}
  </body>
</html>