{% extends "base.html" %} {% block body %}

<nav class="navbar navbar-inverse" style="background-color: mediumpurple;>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white">TimeSwap</a>
    </div>
    <ul class="nav navbar-nav" style="color: white">
      <li style="color: white"><a href="dashboard" style="color: white">Dashboard</a></li>
      <li style="color: white"><a href="logout" style="color: white">Logout</a></li>
    </ul>
  </div>
</nav>
<div style="margin-top:30px;" class="container">
    {% block content %} {% endblock %}
</div>
{% endblock %}