{% extends "base.html" %} {% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <div class="container">Timetable Gen
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
	<div class = "collapse navbar-collapse" id="navbarSupportedContent">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
		    aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		</button>
    </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('post')}} ">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('request')}}">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('inbox')}}"> Inbox</a>
                </li>s
            </ul>
        </div>

    </div>
</nav>
<div style="margin-top:30px;" class="container">
    {% block content %} {% endblock %}
</div>
{% endblock %}